* {
    background-color: #F3F0D7;
    color: #FFBF86;
    display: block;
}
#nombre {
 
    font-family: sans-serif;
    background-color: #f3f0d7;
    color: #FED2AA;
}
.titulo {
    background-color: #CEE5D0;
    width: 33%;
    display: inline-block;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
img {
    height: 100px;
    width: 200px;
}
.lucia-trece {
    background-color: aquamarine;
    width: 49%;
}
.lucia-trece:hover {
    background-color: darkcyan;
    color: FFBF86;
}

.quiñones-catorce {
    background-color: cadetblue;
    font-weight: bold;
    color:#CEE5D0;
    width: 49;
}
.quiñones-catorce:hover {
    background-color: 99A799;
    color: #FED2AA
}
h1:hover{
    background-color: #CEE5D0;
}
div {
    display: inline;
}