* {
    background-color: #FEF5ED;
    color: #ADC2A9;
    display: block;
}
#nombre {
 
    font-family: sans-serif;
    background-color: #FEF5ED;
    color: #ADC2A9;
}
.titulo {
    background-color: #D3E4CD;
    width: 33.1%;
    display: inline-block;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border-radius: 10px;
    padding-left: 1em;
    margin-left: 28px;
}
.dom-trece {
    background-color: aquamarine;
    width: 49%;
}
.dom-trece:hover {
    background-color: darkcyan;
    color: FFBF86;
}

.keith-catorce {
    background-color: cadetblue;
    font-weight: bold;
    color:#CEE5D0;
    width: 49;
    border-radius: 9px;
    padding: 0.5em;
    margin: 0.5em;
}
.keith-catorce:hover {
    background-color: #87AAAA;
    color: #FEF5ED